.ui-header .ui-title {
  margin-right: 10%;
  margin-left: 10%;
}

.headerTabs {
  background-color: rgb(255,94,58) !important;
}

.headerTextTabs {
  color: white;
}

.boutonJMD {
  background-color: rgb(255,94,58) !important;
  color:white !important;
}

.btnBackground {
  background-color: rgba(0, 0, 0, 0) !important;
  border: none;
}

.h3Connexion {
  text-align: center !important;
}

.connexionLink {
  color: black !important;
  text-decoration: none;
  display: inline !important;
}

.custom-navbar ul li a.ui-btn-active {
    background: white !important; 
    font-weight: normal;
    color: rgb(255,94,58) !important;
    border: none;
    text-shadow: none !important;
}

.custom-navbar ul li a {
    background: white !important; 
    color: rgb(146,146,146) !important;
    border: none;
    font-weight: normal;
}

.importantLink {
  color: red !important;
}

.ui-icon-favori-sel:after {
  background-image: url("../img/star_or.png");
  background-size: 20px 20px;
}

.ui-icon-favori:after {
  background-image: url("../img/star.png");
  background-size: 20px 20px;
}

.ui-icon-etablissement:after {
  background-image: url("../img/university.png");
  background-size: 20px 20px;
}

.ui-icon-etablissement-sel:after {
  background-image: url("../img/university_or.png");
  background-size: 20px 20px;
}

.ui-icon-diplome:after {
  background-image: url("../img/diploma.png");
  background-size: 20px 20px;
}

.ui-icon-diplome-sel:after {
  background-image: url("../img/diploma_or.png");
  background-size: 20px 20px;
}

.ui-icon-annee:after {
  background-image: url("../img/student.png");
  background-size: 20px 20px;
}

.ui-icon-annee-sel:after {
  background-image: url("../img/student_or.png");
  background-size: 20px 20px;
}

.ui-icon-more:after {
  background-image: url("../img/more.png");
  background-size: 20px 20px;
}

.ui-icon-more-sel:after {
  background-image: url("../img/more_or.png");
  background-size: 20px 20px;
}

.ui-btn-icon-top::after {
  border-radius: 0;
}

#rememberChoiceDiv {
  max-width:300px;
  margin-left: auto;
  margin-right: auto;
  margin-top:80px;
  clear: both;
}

#links {
  text-align: center;
}

#homeButtons {
  margin-left: auto;
  margin-right: auto;
  max-width:300px;
}

#etudiantChoice, #adminChoice {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(255,94,58);
  color:white;
  font-size: 1em;
  float:left;
  width:41%;
  padding: 0.6em 0.6em;
  margin:0 1%;
  border:none;
  font-weight: normal;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

#whoAreYou {
  text-align: center;
}

#logoJMD {
  margin-top:20%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}